<div class="container p-5">
  <h1 class="text-center">{{ title }}</h1>

  <div
    dClass="fs-2"
    appStyle="red"
    [dStyles]="{
    border: '1px solid #cccccc',
    borderRadius: '5px',
    fontWeight: 'bold',
    padding: '10px'
    }"
    class="mb-3"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, mollitia?
  </div>

  <div
    class="mb-5"
    dClass="fs-3"
    appStyle="blue"
    [dStyles]="{
    border: '2px solid red',
    borderRadius: '5px',
    fontWeight: 'bold',
    padding: '10px'
    }">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, mollitia?
  </div>

  <!--  <div *ngIf="isVisible" class="border border-dark mb-3 p-5">-->
  <!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quidem?-->
  <!--  </div>-->

  <!--  or-->

  <!--  <ng-template  [ngIf]="isVisible">-->
  <!--    <div class="border border-dark mb-3 p-5">-->
  <!--      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quidem?-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <div *appIfNot="!isVisible" class="border border-dark mb-3 p-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quidem?
  </div>

  <!--  or-->

  <ng-template [appIfNot]="!isVisible">
    <div class="border border-dark mb-3 p-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quidem?
    </div>
  </ng-template>

  <button
    (click)="isVisible = !isVisible"
    [className]="isVisible ? 'btn btn-outline-danger' : 'btn btn-outline-primary'"
  >
    {{ isVisible ? 'Delete' : 'Show' }}
  </button>

</div>
